<div class="catalog__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
    <picture>
        <source class="js-lazy" 
            {% if item.datasrcset %} 
                data-srcset="assets/images/{{folder}}/{{folder}}{{item.datasrcset}}.webp"
                srcset="assets/images/placeholder.webp" type="image/webp" 
            {% else %}
                srcset="assets/images/{{folder}}/{{folder}}{{item.srcset}}.webp" type="image/webp"
            {% endif %}
        >
        <source class="js-lazy"
            {% if item.datasrcset %} 
                data-srcset="assets/images/{{folder}}/{{folder}}{{item.datasrcset}}.jpg"
                srcset="assets/images/placeholder.jpeg" type="image/jpeg" 
            {% else %} 
                srcset="assets/images/{{folder}}/{{folder}}{{item.srcset}}.jpg" type="image/jpeg" 
            {% endif %}
        >
        <img src="#" alt="{{category}} {{item.name}}" class="catalog__item-image" itemprop="image">
    </picture>
    <div class="catalog__item-description" itemprop="description">
        <a href="{{item.href}}" class="catalog__item-name" itemprop="url"><span itemprop="name">{{item.name}}</span></a>
        <p class="catalog__item-category" itemprop="category">{{category}}</p>
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <p class="catalog__item-price" itemprop="price">{{item.price}} &#8381; <meta itemprop="priceCurrency" content="RUB"></p>
        </div>
    </div>
</div>   