{% set category = 'Кроссовки' %}
{% set itemname = 'Maison Margiela Fusion Low Sneakers' %}
{% set item__slider = [
    { srcset: '01'},
    { srcset: '02', datasrcset: '02'}, 
    { srcset: '03', datasrcset: '03'},
    { srcset: '04', datasrcset: '04'}, 
] %}
    <div class="item-card__slider js-item-slider">
        {% for slide in item__slider %}
        <div class="item-card__slider-item">
            <picture>
                <source class="js-lazy" 
                        media="(max-width: 1199px)" 
                        {% if slide.datasrcset %} 
                            data-srcset="assets/images/item01/item-mobile{{slide.datasrcset}}.webp" type="image/webp"
                            srcset="assets/images/placeholder.webp" 
                        {% else %}
                            srcset="assets/images/item01/item-mobile{{slide.srcset}}.webp" type="image/webp"
                        {% endif %}
                >
                
                <source class="js-lazy"   
                        {% if slide.datasrcset %} 
                            data-srcset="assets/images/item01/item{{slide.datasrcset}}.webp" type="image/webp"
                            srcset="assets/images/placeholder.webp"
                        {% else %}
                            srcset="assets/images/item01/item{{slide.srcset}}.webp" type="image/webp"
                        {% endif %}
                >
                <source class="js-lazy" 
                        media="(max-width: 1199px)"
                        {% if slide.datasrcset %} 
                            data-srcset="assets/images/item01/item-mobile{{slide.datasrcset}}.jpg" type="image/jpeg" 
                            srcset="assets/images/placeholder.webp"
                        {% else %}
                            srcset="assets/images/item01/item-mobile{{slide.srcset}}.jpg" type="image/jpeg" 
                        {% endif %}
                >
                <source class="js-lazy" 
                        {% if slide.datasrcset %} 
                            data-srcset="assets/images/item01/item{{slide.datasrcset}}.jpg" type="image/jpeg" 
                            srcset="assets/images/placeholder.webp"
                        {% else %} 
                            srcset="assets/images/item01/item{{slide.srcset}}.jpg" type="image/jpeg" 
                        {% endif %}
                >
                <img class="item-card__slider-image" itemprop="image" src="#" alt="{{category}} {{itemname}}">
            </picture>
        </div>
        {% endfor %}
    </div>
    
    <div class="item-card__previews js-item-preview">
    {% for slide in item__slider %}
        <div class="item-card__preview">
            <picture>
                <source media="(max-width: 1199px)" 
                        srcset="assets/images/item01/item-preview-mobile{{slide.srcset}}.webp"
                        type="image/webp"
                >
                
                <source type="image/webp"
                        srcset="assets/images/item01/item-preview{{slide.srcset}}.webp"
                >
                <source media="(max-width: 1199px)"
                        srcset="assets/images/item01/item-preview-mobile{{slide.srcset}}.jpg" 
                        type="image/jpeg" 
                >
                <source srcset="assets/images/item01/item-preview{{slide.srcset}}.jpg"
                        type="image/jpeg" 
                >
                <img class="item-card__preview-image" itemprop="image" src="#" alt="Превью {{itemname}}">
            </picture>
        </div>
    {% endfor %}
    </div>
 
