{% set parameters = [
    {title: 'color', name: 'Цвет', 
    values: [{title: 'Белый с розовым', value: 'white-pink'}, {title: 'Белый с зелёным', value: 'white-green'}]},
    {title: 'size', name: 'Размер US', 
    values: [{title: '6', value: '6'}, {title: '6,5', value: '6,5'}, {title: '7', value: '7'}, {title: '9', value: '9'}]}
]
%}

<form class="item-card__form js-item-form" action="" itemprop="itemListElement" itemscope itemtype="http://schema.org/Product">
    {% for parameter in parameters %}                      
    <div class="item-card__parameter item-card__parameter--{{parameter.title}}" itemprop="itemListElement" itemscope itemtype="http://schema.org/Offer">
        <p class="item-card__parameter-name">{{parameter.name}}</p>
        <div class="item-card__parameter-values">
            {% for values in parameter.values %}     
            <div class="item-card__parameter-value">
                <input id="selected{{parameter.title}}__{{values.value}}" type="radio" name="selected{{parameter.title}}" value="{{values.value}}">
                <label for="selected{{parameter.title}}__{{values.value}}"><span itemprop="itemOffered">{{values.title}}</span></label>
            </div>
             {% endfor %}
        </div>
    </div>
    {% endfor %}


    <a href="#sizes-table-popup" class="item-card__sizes-table js-popup-opener">Таблица размеров</a>
    {% include 'sizes-table.twig' %}
    
    <div class="item-card__btn-wrapper btn-wrapper">
        <button сlass="item-card__btn btn js-btn-buy" type="submit">
            Купить, <span class="item-card__price" itemprop="price">92 000 &#8381; <meta itemprop="priceCurrency" content="RUB"></span>
        </button>
    </div>
</form> 